<div id="products-carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#products-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#products-carousel" data-slide-to="1"></li>
    <li data-target="#products-carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active" [innerHTML]="imgHtml"></div>
    <div class="item" [innerHTML]="imgHtml"></div>
    <div class="item" [innerHTML]="imgHtml"></div>
  </div>
  <a class="left carousel-control" href="#products-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#products-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
