body {
    padding-top: 70px
}
.slide-image {
    width: 100%;
}
.carousel-holder {
    margin-bottom: 30px;
}
.carousel-control,.item {
    border-radius: 4px;
}
.caption {
    height: 130px;
    overflow: hidden;
}
.caption h4 {
    white-space: nowrap;
}
.thumbnail img {
    width: 100%;
}
.thumbnail {
    padding: 0;
}
.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}
footer {
    margin: 50px 0;
}
.starrating.glyphicon-star {
    margin-right: 4px;
}