<div class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li class="active"></li>
    <li></li>
    <li></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img class="slide-image" src="http://placehold.it/800x300" alt="">
    </div>
    <div class="item">
      <img class="slide-image" src="http://placehold.it/800x300" alt="">
    </div>
    <div class="item">
      <img class="slide-image" src="http://placehold.it/800x300" alt="">
    </div>
  </div>
  <a class="left carousel-control" href="javascript:$('.carousel').carousel('prev');">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="javascript:$('.carousel').carousel('next');">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
